<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Profesores</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Lista de Profesores</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/estudiantes/listar">Gestionar Estudiantes</a></li>
            <li><a href="/profesores/listar">Gestionar Profesores</a></li>
            <li><a href="/cursos/listar">Gestionar Cursos</a></li>
            <li><a href="/inscripciones/listar">Gestionar Inscripciones</a></li>
        </ul>
        
    </nav>
    <a href="/profesores/insertar"class="btn">Agregar nuevo profesor</a>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th> 
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% profesores.forEach(function(profesor) { %>
                    <tr>
                        <td><%= profesor.id %></td>
                        <td><%= profesor.dni %></td>
                        <td><%= profesor.nombre %></td>
                        <td><%= profesor.apellido %></td>
                        <td><%= profesor.email %></td>
                        <td><%= profesor.telefono %></td> 
                        <td>
                            <a href="/profesores/editar/<%= profesor.id %>">Editar</a>
                            <a href="/profesores/eliminar/<%= profesor.id %>" onclick="return confirm('¿Estás seguro de que deseas eliminar este profesor?');">Eliminar</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </main>
    <footer>
        &copy; 2024 @collins
    </footer>
</body>
</html>
